USE [CropBreedingUnitDB]
GO
/****** Object:  Table [dbo].[tblPartnerContacts]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPartnerContacts](
	[contactId] [bigint] IDENTITY(1,1) NOT NULL,
	[partnerId] [bigint] NOT NULL,
	[firstName] [varchar](50) NULL,
	[otherNames] [varchar](50) NULL,
	[lastName] [varbinary](50) NULL,
	[phoneNumber] [varchar](50) NULL,
	[emailAddress] [varchar](50) NULL,
	[contactAddress] [varchar](50) NULL,
	[webAddress] [varchar](50) NULL,
	[geoLongitude] [decimal](18, 0) NULL,
	[geoLatitude] [decimal](18, 0) NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblPartnerContacts] PRIMARY KEY CLUSTERED 
(
	[contactId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPartner]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPartner](
	[partnerId] [bigint] NOT NULL,
	[name] [varchar](80) NULL,
	[contactAddress] [varchar](150) NULL,
	[phoneNumber] [varchar](150) NULL,
	[emailAddress] [varchar](150) NULL,
	[webAddress] [varchar](150) NULL,
	[geoLongitude] [decimal](18, 2) NULL,
	[geoLatitude] [decimal](18, 2) NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblPartner] PRIMARY KEY CLUSTERED 
(
	[partnerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblInventory]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblInventory](
	[inventoryId] [bigint] NOT NULL,
	[reagentId] [bigint] NOT NULL,
	[quantity] [int] NULL,
	[stock] [char](3) NULL,
	[stockDate] [datetime] NULL,
	[stockUserId] [bigint] NOT NULL,
	[initialStock] [int] NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblInventory] PRIMARY KEY CLUSTERED 
(
	[inventoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLocation]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLocation](
	[locId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](80) NOT NULL,
	[locNumber] [varchar](30) NULL,
	[source] [varchar](80) NULL,
	[description] [varchar](255) NOT NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblLocation] PRIMARY KEY CLUSTERED 
(
	[locId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblReagent]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblReagent](
	[reagentId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](80) NULL,
	[uom] [varchar](15) NULL,
	[createdBy] [bigint] NULL,
	[craetedDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblReagent] PRIMARY KEY CLUSTERED 
(
	[reagentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMediumPrepType]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMediumPrepType](
	[typeId] [bigint] IDENTITY(1,1) NOT NULL,
	[typename] [varchar](80) NULL,
 CONSTRAINT [PK_tblMediumPrepType] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblActivity]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblActivity](
	[activityId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](80) NULL,
	[locationId] [bigint] NOT NULL,
	[typeId] [bigint] NOT NULL,
	[description] [varchar](80) NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblActivity] PRIMARY KEY CLUSTERED 
(
	[activityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLocationUser]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLocationUser](
	[locationUserId] [bigint] NOT NULL,
	[userId] [bigint] NOT NULL,
	[locationId] [bigint] NOT NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[status] [varchar](10) NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [int] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblLocationUser] PRIMARY KEY CLUSTERED 
(
	[locationUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPartnerActivity]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPartnerActivity](
	[partnerActivityId] [bigint] IDENTITY(1,1) NOT NULL,
	[partnerId] [bigint] NOT NULL,
	[reagentId] [bigint] NOT NULL,
	[backStopping] [varchar](50) NULL,
	[tcPlantletsGiven] [int] NULL,
	[bioreactorplantsGiven] [varchar](50) NULL,
	[tubersGiven] [varchar](50) NULL,
	[tcPlantletsAvailable] [varchar](50) NULL,
	[tibPlantletsAvailable] [varchar](50) NULL,
	[tubersAvailable] [varchar](50) NULL,
	[officerInCharge] [bigint] NOT NULL,
	[activityDate] [datetime] NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblPartnerActivity] PRIMARY KEY CLUSTERED 
(
	[partnerActivityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblVariety]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblVariety](
	[varietyId] [bigint] NOT NULL,
	[name] [varchar](50) NULL,
	[sampleNumber] [varchar](50) NULL,
	[repUser] [int] NOT NULL,
	[testDate] [datetime] NULL,
	[releaseStatus] [varchar](50) NULL,
	[resistance] [varchar](50) NULL,
	[storability] [varchar](50) NULL,
	[poundability] [varchar](50) NULL,
	[species] [varchar](50) NULL,
	[uniformity] [varchar](50) NULL,
	[stability] [varchar](50) NULL,
	[distinctness] [varchar](50) NULL,
	[value] [bigint] NULL,
	[activityId] [bigint] NOT NULL,
	[locationId] [bigint] NOT NULL,
	[userId] [bigint] NOT NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblVariety] PRIMARY KEY CLUSTERED 
(
	[varietyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblVarietyProcessFlow]    Script Date: 02/24/2015 13:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblVarietyProcessFlow](
	[proccessId] [bigint] IDENTITY(1,1) NOT NULL,
	[varietyId] [bigint] NOT NULL,
	[form] [varchar](50) NULL,
	[processDate] [datetime] NULL,
	[userId] [bigint] NOT NULL,
	[rank] [varchar](10) NULL,
	[barcode] [varchar](80) NULL,
	[description] [varchar](255) NULL,
	[createdBy] [bigint] NULL,
	[createdDate] [datetime] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblVarietyProcessFlow] PRIMARY KEY CLUSTERED 
(
	[proccessId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Check [CK_Inventory_Stock]    Script Date: 02/24/2015 13:48:48 ******/
ALTER TABLE [dbo].[tblInventory]  WITH CHECK ADD  CONSTRAINT [CK_Inventory_Stock] CHECK  (([stock]='OUT' OR [stock]='IN'))
GO
ALTER TABLE [dbo].[tblInventory] CHECK CONSTRAINT [CK_Inventory_Stock]
GO
